API_HOST=0.0.0.0
API_PORT=8080
API_READ_TIMEOUT=30s
API_READ_HEADER_TIMEOUT=10s
API_WRITE_TIMEOUT=30s
API_SHUTDOWN_TIMEOUT=10s

LOG_LEVEL=info
LOG_IS_JSON=true

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=subaggregator
DB_SSL_MODE=disable
DB_MIGRATION_PATH=/app/migrations
